<div class="row">
  <div class="span12"><%= link_to "Tell me something", new_story_card_path, :class => %w(btn btn-large btn-success) %></div>
</div>

<div class="row">
  <% @story_cards.each do |story_card| %>
    <div class="span2 story-card">
      <div class="content">
        <%= story_card.content%>
      </div>
      <%= link_to "Read on! (#{story_card.total_reply_count})", story_card_path(story_card) %>
    </div>
  <% end %>
</div>