
<div class="row">
  <% @story_cards.each do |story_card| %>
    <div class="span2 story-card">
      <div class="content">
        <%= story_card.content%>
      </div>
      <%= link_to "Read on! (#{story_card.total_reply_count})", story_card_path(story_card) %>
    </div>
  <% end %>
</div>